.home {
  animation: show-page 1s ease;
  height: 100%;
}
@keyframes show-page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home-title{
  text-align: center;
}
.widget{
  width: 30%;
  padding: 26px;
  border: 5px solid green;
  cursor: grab;
}
/* .home-widgets{
  display: flex;
  height: 95%;
  width: 95%;
  align-items: center;
  justify-content: space-around;
} */