.lk {
  animation: show-page 1s ease;
}
@keyframes show-page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.user{
  display: flex;
  gap: 25px;
}
.user-img{
  height: 420px;
  width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.user-not-avatar{
  width: 100%;
  height: 100%;
  background-color: rgb(183, 178, 178);
}
.user-img__inp{
  cursor: pointer;
}
.user-img__image{
  width: 100%;
  height: auto;
}
.user-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}
.chart{
  text-align: center;
}